{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div id="Ajax">
    <div id="position"> </div>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.content|raw }}</p>

    {{ dump(article) }}
    <h3>Comments</h3>
    {% for comment in comments %}

        <p> <strong>{{ comment.author }}</strong> {{ comment.content }}</p>
        <button type="button" class="btn-primary btn-xs buttonAnswer" value="{{ comment.id }}" > répondre </button>

    {% endfor %}

    {% if replys is defined %}
        {% for reply in replys %}
            <p> <strong>{{ reply.author }}</strong> {{ reply.content }}</p>

        {% endfor %}
    {% endif %}


    <form name="reply" id="underLevelComment1" method="post"> </form>

    {% if commentForm %}
        <h3>Ajouter un commentaire</h3>
        {{ form_start(commentForm) }}
        <div class="form-group">
            <div class="col-sm-6">
            {{ form_errors(commentForm.author) }}
            {{ form_widget(commentForm.author, { 'attr':  {
                'class': 'form-control',
                'placeholder': 'Entrer votre pseudo'
            }}) }}

            {{ form_errors(commentForm.content) }}
            {{ form_widget(commentForm.content, { 'attr':  {
                'rows': '4',
                'class': 'form-control',
                'placeholder': 'Enter votre commentaire'
            }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
            <input type="submit" class="btn btn-primary" value="Ajouter" />
            </div>
        </div>
        {{ form_end(commentForm) }}
        </div>
    {% endif %}


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            var buttonAnswer = document.querySelectorAll(".buttonAnswer");
            $(buttonAnswer).click(function (event) {
                event.preventDefault()
                document.getElementById("underLevelComment1").innerHTML = '{{ form_start(replyForm) }}';
                document.getElementById("underLevelComment1").innerHTML = '{{ form_end(replyForm) }}';

                document.getElementById("reply_comParent").value = $(this).val();

                $(function () {
                    $('#reply_annuler').click(function () {
                        $('#Ajax').load('{{ article.id }}', function () {

                        });
                    });
                });
            });
        });
    </script>
{% endblock %}


